<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" *ngFor="let item of slideHead; let i = index" data-slide-to="i" [ngClass]="{'active': item.listbox}"></li>
    <!--<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1" class=""></li>
    <li data-target="#myCarousel" data-slide-to="2" class=""></li>-->
  </ol>
  <div class="carousel-inner" role="listbox">
    <div class="carousel-item" *ngFor="let item of slideHead" [ngClass]="{'active': item.listbox}">
      <img class="first-slide" [src]="item.slider_path" alt="First slide">
      <div class="container">
        <div class="carousel-caption d-none d-md-block text-left">
          <h1>{{item.product_name}}</h1>
          <p>{{item.product_description}}</p>
          <p><a class="btn btn-lg btn-primary" href="#" role="button">Sign up today</a></p>
        </div>
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
  <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
</div>

<!-- Marketing messaging and featurettes
    ================================================== -->
<!-- Wrap the rest of the page in another container to center all the content. -->

<div class="container marketing">
  <!-- Three columns of text below the carousel -->
  <div class="row">
    <div class="col-lg-4" *ngFor="let recommend of recommendList" >
      <img class="rounded-circle" [src]="recommend.img" alt="Generic placeholder image" width="140" height="140">
      <h2>{{recommend.product_name}}</h2>
      <p>{{recommend.product_description}}</p>
      <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
    </div>
    <!-- /.col-lg-4 -->
  </div>
  <!-- /.row -->


  <!-- START THE FEATURETTES -->

  <hr class="featurette-divider">

  <div *ngFor="let newProd of newProduct; let i = index">
    <div class="row featurette">
      <div class="col-md-7" [ngClass]="{'push-md-5': i == 1}">
        <h2 class="featurette-heading">{{newProd.product_name}}</h2>
        <p class="lead">{{newProd.product_description}}</p>
      </div>
      <div class="col-md-5" [ngClass]="{'pull-md-7': i == 1}">
        <img class="featurette-image img-fluid mx-auto" 
        alt="500x500" style="width: 500px; height: 500px;" 
        [src]="imgLink+newProd.img" data-holder-rendered="true" />
      </div>
    </div>

    <hr class="featurette-divider">
  </div>

  <!-- /END THE FEATURETTES -->


  <!-- FOOTER -->
  <footer>
    <p class="float-right"><a href="#">Back to top</a></p>
    <p>© 2017 Company, Inc. · <a href="#">Privacy</a> · <a href="#">Terms</a></p>
  </footer>

</div>
<!-- /.container -->